.sliderRow {
	margin-left: 30px;
}

.sliderRow img {
	width: 270px;
	height: 211px;
	cursor: pointer;
}

.container {
	position: relative;
	z-index: 1;
}

.next,
.prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	border: none;
	background: transparent;
	cursor: pointer;
}

.next {
	right: 20px;
}

.prev {
	left: 20px;
}

@media (max-width: 500px) {
	.sliderRow {
		margin-left: 0;
	}

	.sliderRow img {
		margin: 0 auto;
	}
}

@media (min-width: 501px) and (max-width: 900px) {
	.sliderRow {
		margin-left: 0;
	}

	.sliderRow img {
		width: 220px;
		object-fit: cover;
		margin: 0 auto;
	}
}
